@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500;600&family=Viga&display=swap');
/*  ont-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Viga', sans-serif; */
*{
    margin:0;
padding:0;
box-sizing:border-box;
  color:#0b0b84;
}


html, body {
  height: 100%;
  width: 100%;
  font-family:'Viga', sans-serif;
  background-color:#f2f2f8;
}

.nuri{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:50px;
  color:#0b0b84
}


.flex-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding:30px;
               }

.form{
  width:65%;
}


.container{
    width:100%;
    padding:20px;
}
  
 input{
    width:100%;
   background-color: aliceblue;
   padding: 10px;
   margin-top:10px;
   margin-bottom:10px;
   border: 2px solid #ccc;
  border-radius: 10px;
   font-family:'Viga', sans-serif;
 }

input:focus{
  background-color:#cacad8;
  border:1px solid #7d7dd8;
}

.regbtn{width:100%;
        padding:10px;
        margin-top:10px;
        float:center;
        border-radius:20px;
        background-color:#0b0b84;
        color:white;
         font-family:'Viga', sans-serif;
        }

.regbtn:hover{
  background-color:aliceblue;
  cursor:pointer;
}
.newregbtn{width:100%;
        padding:10px;
        margin-top:30px;
        float:center;
           border:1px solid black;
        border-radius:20px;
        background-color:#0b0b84;
        color:white;
           text-combine-upright: none;
           font-family:'Viga', sans-serif;
        }

.newregbtn:hover{
  background-color:aliceblue;
  cursor:pointer;
}
.flex{display:flex;
     flex-direction:column ;
     gap:30px;}

/*Success Page  */
body.success{
text-align: center;
padding:40px, 0;
margin:40px;
  margin-top:80px;
}

.h1suc{
  font-weight: 900px;
  font-size: 60px;
  margin-bottom: 50px;
}

.h2suc{
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
}

.p1 {
  color: #ffffff;
  font-size:20px;
  margin: 0;
  }

i {
   color: #0b0b84;
   font-size: 150px;
   line-height: 300px;
   margin-left:-25px;
   }


.card {
        background: #b8acd2;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #315981;
        display: inline-block;
        margin: 0 auto;
}
